.md-grid {
  max-width: 68rem;
}

.md-typeset table:not([class]) {
  font-size: 0.8rem;
}

.md-typeset table:not([class]) th {
  font-weight: 700;
}

.md-typeset .md-button {
  margin-bottom: 0.5rem;
}
